<!doctype html>
<html>
<head>
 <title>Meadowlark Travel</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <header>
                    <img src="/img/logo.jpg" alt="Meadowlark Travel Logo" />
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{{body}}}
            </div>
            <div class="col-4">{{> weather}}</div>
        </div>
         <div class="row">
            <div class="col">
              <footer>Copright &copy; 2021 all rights reserve.</footer>
            </div>
          
        </div>
    </div>
   

 
 
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  
<script src="http://localhost:3000/js/all.js"></script>
</body>
</html>